span.set_space{
    font-weight:bold;
    padding-left: 20px!important;
}
.set_padd40{
    padding-left: 40px!important;
}
.set_padd20{
    padding-left: 20px!important;
}
.table-condensed > tbody > tr.total_border_top, .table-condensed > tbody > tr > td.total_border_top,{
    border-top: 2px solid #000000!important;
}
